{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "builtIns": false,
            "booleans": true,
            "consecutiveAdds": true,
            "deadcode": true,
            "evaluate": true,
            "flipComparisons": true,
            "guards": true,
            "infinity": true,
            "mangle": true,
            "memberExpressions": true,
            "mergeVars": false,
            "numericLiterals": true,
            "propertyLiterals": true,
            "regexpConstructors": true,
            "removeDebugger": true,
            "removeUndefined": false,
            "replace": true,
            "simplify": true,
            "simplifyComparisons": true,
            "typeConstructors": true,
            "undefinedToVoid": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    ["transform-imports", {
      "react-bootstrap": {
        "transform": "react-bootstrap/${member}",
        "preventFullImport": true
      },
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ]
}